body, h1, p, h2, h3, h4 {
    margin: 0;
}
.container {
    margin: 48px auto 0;
    max-width: 1280px;
}
.header__comp {
    display: flex;
    justify-content: space-between;
}
.comp__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 86px;
    height: 63px;
    margin-right: 23px;
}
.logo {
    background-image: url("../images/logo.svg");
}
.header__name {
    width: 88px;
    margin-right: 64px;
}
.header__slog {
    font-size: 12px;
    width: 227px;
}
.comp__signIn {
    margin-left: 36px;
    border: 0;
    background-color: #273895;
    color: #fff;
    width: 115px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}
.header__nav {
    margin-top: 48px;
    display: flex;
    gap: 48px;
}
.section1 {
    margin-top: 55px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section1__desc {
    flex-basis: 733px;
}
.desc__title {
    font-size: 48px;
    margin-top: 65px;
}
.desc__body {
    margin-top: 16px;
    font-size: 14px;
    width: 547px;
}
.desc__button {
    margin-top: 32px;
    border: 0;
    background-color: #273895;
    border-radius: 15px;
    width: 268px;
    height: 56px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.section1__opps {
    background-image: url("../images/section1-background.svg");
    flex-basis: 438px;
    height: 488px;
    position: relative;
    right: 110px;
}
.opps__income {
    background-image: url("../images/section1_income.svg");
    width: 145px;
    height: 145px;
    position: absolute;
    top: -76px;
    right: 67px;
}
.opps__wrapper {
    width: 712px;
    height: 164px;
    position: absolute;
    bottom: -82px;
    right: -77px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #D0DAE3;
    box-sizing: border-box;
    padding: 32px 48px;
}
.opps__opp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    height: 100px;
}
.opp__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.item__support {
    background-image: url("../images/opps_support.svg");
    width: 44px;
    height: 42px;
}
.item__opportunities {
    background-image: url("../images/opps_opportunities.svg");
    width: 40px;
    height: 40px;
}
.item__bonus {
    background-image: url("../images/opps_bonus.svg");
    width: 53px;
    height: 40px;
    background-repeat: no-repeat;
}
.item__title {
    font-size: 16px;
    line-height: 1.6;
}
.section2 {
    margin-left: auto;
    margin-top: 230px;
    display: flex;
    justify-content: space-around;
}
.first {
    max-width: 438px;
}
.section2__bg {
    background-image: url("../images/section2_background.svg");
    width: 547px;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.section2__title {
    font-size: 32px;
    margin-top: 32px;
}
.section2__body {
    font-size: 14px;
    max-width: 406px;
    margin-top: 16px;
}
.item__logo {
    width: 187px;
    height: 65px;
    background-repeat: no-repeat;
}
.item__bgSqr {
    width: 217px;
    height: 156px;
    box-sizing: border-box;
    padding: 32px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #D0DAE3;
}
.bgSqr__title {
    font-size: 48px;
}
.item__smSqr {
    width: 179px;
    height: 135px;
    box-sizing: border-box;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #D0DAE3;
}
.smSqr__title {
    font-size: 36px;
}
.title__span {
    font-size: 16px;
}
.ml-38 {
    margin-left: 38px;
}
.mt-auto {
    margin-top: auto;
}
.mt-20 {
    margin-top: 20px;
}
.grad {
    background: -webkit-linear-gradient(#4614E8, #BCA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item__body {
    font-size: 14px;
}