@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: "Gotham Pro", sans-serif;
    src: url("../fonts/gothamPro/gothampro.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Gotham Pro", sans-serif;
    src: url("../fonts/gothamPro/gothampro_bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Gotham Pro", sans-serif;
    src: url("../fonts/gothamPro/gothampro_medium.ttf") format("truetype");
    font-weight: 500;
}

body, h1, p, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    padding: 0;
}
body {
    font-family: "Gotham Pro", sans-serif;
    background-color: #f3f7fa;
}
.container {
    max-width: 1280px;
    margin: 48px auto 0;
}
.header__comp {
    display: flex;
    justify-content: space-between;
}
.comp__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 86px;
    height: 63px;
    margin-right: 23px;
}
.logo {
    background-image: url("../images/logo.svg");
}
.header__name {
    width: 88px;
    margin-right: 64px;
    font-family: 'Roboto', sans-serif;
    color: #3B1D8F
}
.header__slog {
    font-size: 12px;
    width: 227px;
    font-family: 'Roboto', sans-serif;
}
.comp__signIn {
    margin-left: 36px;
    border: 0;
    background-color: #273895;
    color: #fff;
    width: 115px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}
.comp__telephone {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.header__nav {
    margin-top: 48px;
    display: flex;
    gap: 48px;
}
.header__link {
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.section1 {
    margin-top: 55px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section1__desc {
    flex-basis: 733px;
}
.desc__title {
    font-size: 48px;
    margin-top: 65px;
    font-weight: 700;
}
.desc__body {
    margin-top: 16px;
    font-size: 14px;
    width: 547px;
}
.desc__button {
    margin-top: 32px;
    border: 0;
    background-color: #273895;
    border-radius: 15px;
    width: 268px;
    height: 56px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.section1__opps {
    background-image: url("../images/section1-background.svg");
    flex-basis: 438px;
    height: 488px;
    position: relative;
    right: 110px;
    z-index: -1;
}
.opps__income {
    background-image: url("../images/section1_income.svg");
    width: 145px;
    height: 145px;
    position: absolute;
    top: -76px;
    right: 67px;
}
.opps__wrapper {
    width: 712px;
    height: 164px;
    position: absolute;
    bottom: -82px;
    right: -77px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #D0DAE3;
    box-sizing: border-box;
    padding: 32px 48px;
}
.opps__opp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    height: 100px;
}
.opp__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.item__support {
    background-image: url("../images/opps_support.svg");
    width: 44px;
    height: 42px;
}
.item__opportunities {
    background-image: url("../images/opps_opportunities.svg");
    width: 40px;
    height: 40px;
}
.item__bonus {
    background-image: url("../images/opps_bonus.svg");
    width: 53px;
    height: 40px;
    background-repeat: no-repeat;
}
.item__title {
    font-size: 16px;
    line-height: 1.6;
}
.section2 {
    margin-left: auto;
    margin-top: 230px;
    display: flex;
    justify-content: space-around;
}
.first {
    max-width: 438px;
}
.section2__bg {
    background-image: url("../images/section2_background.svg");
    width: 547px;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.section2__title {
    font-size: 32px;
    margin-top: 32px;
}
.section2__body {
    font-size: 14px;
    max-width: 406px;
    margin-top: 16px;
}
.item__logo {
    width: 187px;
    height: 65px;
    background-repeat: no-repeat;
}
.item__bgSqr {
    width: 217px;
    height: 156px;
    box-sizing: border-box;
    padding: 32px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #D0DAE3;
}
.bgSqr__title {
    font-size: 48px;
}
.item__smSqr {
    width: 179px;
    height: 135px;
    box-sizing: border-box;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #D0DAE3;
}
.smSqr__title {
    font-size: 36px;
}
.title__span {
    font-size: 16px;
}
.ml-38 {
    margin-left: 38px;
}
.mt-auto {
    margin-top: auto;
}
.mt-20 {
    margin-top: 20px;
}
.grad {
    background: -webkit-linear-gradient(#4614E8, #BCA7FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item__body {
    font-size: 14px;
}
.section3__mainTitle {
    margin-top: 48px;
    text-align: center;
}
.section3__flex {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.section3__item {
    margin-top: 31px;
    width: 29%;
    box-sizing: border-box;
    padding: 32px;
    background-color: white;
    border-radius: 10px;
}
.flex__logo {
    margin: 0 auto;
}
.business {
    background-image: url("../images/section3_business.svg");
    width: 159px;
    height: 128px;
}
.startup {
    background-image: url("../images/section3_startup.svg");
    width: 169px;
    height: 129px;
}
.client {
    background-image: url("../images/section3_client.svg");
    width: 162px;
    height: 128px;
}
.section3__title {
    margin-top: 16px;
    font-size: 16px;
}
.section3__body {
    font-size: 14px;
    color: #404040;
    line-height: 1.7;
    font-weight: 300;
    margin-top: 16px;
}
.section4 {
    position: relative;
}
.section4__mainTitle {
    margin-top: 144px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.section4__flex {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section4__background {
    background-image: url("../images/section4_background.svg");
    width: 219px;
    height: 410px;
    position: relative;
}
.section4__title {
    font-size: 16px;
    color: #34449C;
}
.section4__body {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: 300;
}
.section4__body:first-of-type {
    margin-top: 32px;
}
.section4__questions {
    border-radius: 12px;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    position: absolute;
    top: -14px;
    right: -46px;
    box-shadow: 0 14px 40px 0 #BBA6FF;
}
.question__title {
    text-align: center;
    font-weight: 500;
}
.question__button {
    margin: 7px 20px 0;
    border: none;
    color: white;
    background: -webkit-linear-gradient(#2641D1, #3333A3);
    padding: 16px 24px;
    border-radius: 8px;
    cursor: pointer;
}
.section4__main {
    flex-basis: 440px;
    margin-left: 75px;
}
.section4__addition {
    margin-left: 32px;
}
.addition__list {
    list-style: url("../images/list-style.svg");
}
.addition__item {
    padding-left: 13px;
    margin-bottom: 24px;
    font-weight: 300;
}
.section4__adv {
    display: flex;
    justify-content: center;
    gap: 32px;
    position: absolute;
    top: 93%;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    left: 0;
    right: 0;
}
.adv__item {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 32px;
    flex-basis: 226px;
}
.adv__title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #404040;
}
.adv__body {
    margin-top: 16px;
    color: #404040;
    font-size: 14px;
    line-height: 1.5;
}
.chat_logo {
    background-image: url("../images/chat.svg");
    width: 58px;
    height: 58px;
}
.coin_logo {
    background-image: url("../images/coins.svg");
    width: 75px;
    height: 58px;
}
.calc_logo {
    background-image: url("../images/calc.svg");
    width: 44px;
    height: 62px;
}
.docs_logo {
    background-image: url("../images/docs.svg");
    width: 45px;
    height: 62px;
}
.lock_logo {
    background-image: url("../images/lock.svg");
    width: 62px;
    height: 62px;
}
.section5 {
    margin-top: 419px;
}
.section5__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.section5__body {
    text-align: center;
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #404040;
}
.section5__btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.section5__btn {
    margin-top: 32px;
    width: 133px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.btn_primary {
    background-color: #273895;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 15px;
}
.btn_secondary {
    line-height: 1.5;
    text-decoration: dashed;
    background: transparent;
    border: none;
    color: #273895;
}
.section5__flex {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 33px;
    flex-wrap: wrap;
}
.flex-basis-100 {
    flex-basis: 100%;
}
.flex-grow-50 {
    flex-grow: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.section5__itemBig {
    padding: 48px 187px;
    border-radius: 15px;
    background-color: white;
}
.section5__itemSmall {
    border-radius: 15px;
    background-color: white;
    padding: 48px;
}
.section5__flex__title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #2741D0;
    letter-spacing:2px;
}
.section5__flex__subTitle {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    color: #C9C9C9;
    margin-top: 8px;
}
.section5__flex__body {
    text-align: center;
    font-size: 14px;
    color: #737373;
    margin-top: 16px;
}
.access__title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    color: #404040;
}
.access__wrapper {
    display: flex;
    gap: 35px;
    max-width: 640px;
    margin: 16px auto 0;
}
.access__list {
    flex-basis: 370px;
    list-style: url("../images/list-style.svg");
    margin-top: 16px;
}
.access__item {
    font-size: 16px;
    color: #404040;
    margin-left: 20px;
    margin-bottom: 16px;
}
.ml-35 {
    margin-left: 35px;
}
.section5__link-wrapper {
    margin-top: 28px;
}
.section5__link {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #2741D0;
    text-decoration: none;
}
.flex-left {
    justify-content: left !important;
}
.section5__link__logo {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("../images/arrow.svg");
}
.section5__button {
    background-color: #273895;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
}
.left {
    text-align: left;
}
.section5__flex__price {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
}
.pl-8 {
    padding-left: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.section6 {
    margin: 144px auto 0;
    box-sizing: border-box;
    max-width: 1440px;
    padding-top: 88px;
    padding-bottom: 205px;
    padding-left: 196px;
    background-image: url("../images/section6.svg");
}
.section6__title {
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.section6__body {
    margin-top: 16px;
    font-weight: 500;
    color: white;
    line-height: 1.5;
    max-width: 320px;
}